</main>

    <section id="footer">
        <!-- <div class="container  mx-7">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <p class="mb-3 mb-md-0" style="color: white; font-size: 20px">© M.Mussab All Rights Reserved</p>
            </div>
        
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-">
              <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/muhammad-mussab-8677551b1/"  target="_blank"><div class="feature col">
                  <div class="feature-icon bg-primary bg-gradient">
                    <img
                      src="/images/linkedin.svg"
                      style="height:50px; padding: 5px; margin-top: 5px; margin-left: 6px"
                    />
                    
                  </div></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Mussab2003" target="_blank"><div class="feature-icon bg-primary bg-gradient" style="height=30px">
                  <img
                    src="/images/github.svg"
                    style="height: 50px; padding: 5px; margin-top: 5px; margin-left: 6px"
                  />
                  
                </div></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/profile.php?id=100079478623433" target="_blank"><div class="feature-icon bg-primary bg-gradient" style="height=30px">
                  <img
                    src="/images/facebook.svg"
                    style="height:50px; padding: 5px; margin-top: 5px; margin-left: 6px"
                  />
                  
                </div></a></li>
            </ul>
          </footer>
        </div> -->
    
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">© M.Mussab All Rights Reserved</span>
              </div>
          
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/muhammad-mussab-8677551b1/"  target="_blank"><img
                    src="/images/linkedin.svg" width="40" height="40"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Mussab2003"  target="_blank"><img
                    src="/images/github.svg" width="40" height="40"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/profile.php?id=100079478623433"  target="_blank"><img
                    src="/images/facebook.svg" width="40" height="40"></a></li>
              </ul>
            </footer>
          </div>
    </section>


<script 
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous">
        </script>
<script src="scripts/script.js"></script>
</body>
</html>